.text {
	position: absolute;
	animation: rotateText 10s linear infinite;
	font-weight: 700;
}

.text span {
	position: absolute;
	display: inline-block;
	top: -3rem;
	font-size: 0.5rem;
	transform-origin: 0 3rem;
}


@keyframes rotateText {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}